html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#customScrollbar::-webkit-scrollbar-track {
    display: none;
}

#customScrollbar::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

#customScrollbar::-webkit-scrollbar-thumb {
    background-color: #ececec;
    border-radius: 50px;
    height: 120px;
}

.user-actions-icons i {
    color: rgb(0, 132, 255);
    font-size: x-large;
}

.user-actions-icons i:hover {
    cursor: pointer;
}

.incoming-message {
    background-color: rgb(241, 241, 241);
}

.outgoing-message {
    background-color: rgb(0, 132, 255);
}