html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#customScrollbar::-webkit-scrollbar-track {
    display: none;
}

#customScrollbar::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

#customScrollbar::-webkit-scrollbar-thumb {
    background-color: #ececec;
    border-radius: 50px;
    height: 120px;
}